#cart-container {
    background-color: rgb(46, 17, 51);
    height: 100%;
    color: white;
}
#cart-container {
    margin-top: 2px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1%;
  }
  

  #cart-container::before {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
  }

.buttons{
    display: flex;
    float :right
}
