
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }
  

  .editMode {
    background-color: aqua;

  }

 #view-products {

  color:rgb(46, 17, 51);
 }
 #addTocart-btn {
  background-color: rgb(46, 17, 51);

 }
 #products-container {
  background-color: rgb(46, 17, 51);

 }